.header {
  top: 0;
  position:fixed;
  background-color: white;
  height: 75px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.form {
  background-color: white;
  position: fixed;
  top: 0;
  height: 250px;
}

.header div:first-of-type {
  border: 1px solid rgba(0, 0, 255, .75);
  border-radius: 10px;
  color: rgba(0, 0, 255, .75);
  width: 40%;
  height: 80%;
  font-size: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header div:last-of-type {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.header button:hover {
  background-color: rgba(0, 0, 255, .75);
  color: white;
  cursor: pointer;
}

.header button {
  border: 1px solid rgba(0, 0, 255, .75);
  border-radius: 10px;
  color: rgba(0, 0, 255, .75);
  font-size: 20px;
  padding: 15px;
  margin: 5px;
}

.header span {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.header input {
  height: 30px;
  margin: 5px;
  font-size: 20px
}

.header p {
  margin: 5px
}

.index {
  width: 75%;
  margin-bottom: 50px;
}

.header + .index {
  padding-top: 90px;
}

.form + .index {
  padding-top: 265px;
}
