.employee {
  border: 1px solid black;
  padding: 0px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}

.employee:hover {
  cursor: pointer;
  padding: 20px 20px;
  border: 2px solid red;
}

.employee:hover h1 {
  color:white;
}

.employee div {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}

.employee div:hover {
  border: 1px solid white;
  color: white;
}
